@import "tailwindcss";

@theme {
  --color-bloom-primary: #9A3356;
  --color-bloom-mono: #C0406C;
  --color-bloom-accent1: #8A9A33;
  --color-bloom-accent2: #339A77;
  --color-bloom-accent3: #44339A;
  --color-bloom-select: #008080;
}

/* Ensure the Vue mount point takes up the full screen naturally */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* tailwind slate-50 */
}